#hero {
  position: fixed;
  top: 10%;
  left: 10%;
  display: none;
}
#abilities {
  position: fixed;
  top: 20%;
  left: 10%;
  display: none;
}
#hero_add {
  position: fixed;
  bottom: 10%;
  left: 10%;
  display: none;
}
#ability_add {
  position: fixed;
  bottom: 10%;
  left: 10%;
  display: none;
}
