#form {
          position: fixed;
          bottom: 5%;
          left: 5%;
}
table {
        border-collapse: collapse;
        border: 2px solid black;
        padding: 10px;
        text-align: center;
      }
td , th{
          border: 2px solid black;
          padding: 10px;
          text-align: center;
        }
#songslist {
          position: fixed;
          top: 40%;
          left: 20%;
}
#playlist {
          position: fixed;
          top: 10%;
          left: 10%;
}
